body{
    background: Aqua;
}
.outerBox{
  background: white;
  display: flex;
  align-items: center;

  width: 100%;
  max-width: 1100px;
  margin: 0 auto;

  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 10px;
}
nav{
  display: flex;
  gap: 20px;
  margin: 0 auto;   /* this centers nav between logo and sign */
}

.button{
  color: black;
  text-decoration: none;
  padding: 20px;
  font-size: 30px;

  border-bottom: 1px solid transparent; /* reserve space */
}

.button:hover{
  color: blue;
  border-bottom-color: blue;
}

.logo img{
  height: 80px;
  width: auto;
  display: block;
}

.nav-links{
    display: flex;
    gap: 20px;
    margin: 0 auto;
}
.sign a{
  text-decoration: none;
  color: black;
  font-size: 30px;
}

.sign a:hover{
  color: blue;
}
